#
# systemd unit file for asterisk
#
# This file configures a systemd unit that destroys, cleans,
# and creates the asterisk Docker Compose project.
#
# Reload the installed file after making any changes to it with
# this command:
#
#   sudo systemctl daemon-reload
#

[Unit]
Description=asterisk
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
ExecStart=/opt/asterisk/docker-asterisk/demo/set-host-ip.sh
ExecStart=/usr/local/bin/docker-compose down -t 0
ExecStart=/bin/docker system prune --volumes --force
ExecStart=/usr/local/bin/docker-compose up -d
ExecReload=/usr/local/bin/docker-compose down -t 0
ExecReload=/bin/docker system prune --volumes --force
ExecReload=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down -t 0
ExecStop=/bin/docker system prune --volumes --force
RemainAfterExit=yes
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/asterisk/docker-asterisk/demo

[Install]
WantedBy=multi-user.target
